# Ignore node_modules for all subfolders
**/node_modules/

# Ignore log files
*.log

# Ignore dotenv environment files (we’ll use this for secrets)
**/.env
search-3300-results.txt

# Ignore uploads folder if it shouldn't be public
# backend/upload/

# Ignore system files
.DS_Store
Thumbs.db


backend/scripts/cleanCart.js
